---
export interface Props {
	timeZone?: string;
	locale?: string;
	hour12?: boolean;
	showSeconds?: boolean;
}

const {
	timeZone = 'UTC',
	locale = 'en-US',
	hour12 = true,
	showSeconds = false,
} = Astro.props as Props;

const initialTime = new Intl.DateTimeFormat(locale, {
	timeZone,
	hour: '2-digit',
	minute: '2-digit',
	second: showSeconds ? '2-digit' : undefined,
	hour12,
}).format(new Date());
---

<span
	class="clock"
	data-timezone={timeZone}
	data-locale={locale}
	data-hour12={hour12}
	data-showseconds={showSeconds}
>
	{initialTime}
</span>

<script>
	const clocks = document.querySelectorAll('.clock');

	const formatTime = (date, { locale, timeZone, hour12, showSeconds }) => {
		const options = {
			timeZone,
			hour: '2-digit',
			minute: '2-digit',
			second: showSeconds ? '2-digit' : undefined,
			hour12,
		};

		return new Intl.DateTimeFormat(locale, options).format(date);
	};

	clocks.forEach((el) => {
		const timeZone = el.dataset.timezone || 'UTC';
		const locale = el.dataset.locale || 'en-US';
		const hour12 = el.dataset.hour12 === 'true';
		const showSeconds = el.dataset.showseconds === 'true';

		const update = () => {
			el.textContent = formatTime(new Date(), {
				locale,
				timeZone,
				hour12,
				showSeconds,
			});
		};

		update();
		const intervalMs = showSeconds ? 1000 : 60_000;
		setInterval(update, intervalMs);
	});
</script>
